<form [formGroup]="exerciseTemplateForm" *ngIf="exercise">
    <div formArrayName="fields">
        <div class="mb-2" *ngFor="let field of fields.controls; let i=index; " [formGroupName]="i">
            <h3>Field {{i+1}}</h3>
            <div class="form-group mb-2" *ngIf="field.get('fieldName')?.value">    
                <label class="label">Veldnaam</label>
                <input class="form-control" formControlName="fieldName" value="{{field.get('fieldName')?.value}}"/>
            </div>

            <div class="form-group mb-2" *ngIf="field.get('fieldType')?.value">    
                <label class="label">Type</label>
                <select class="form-control" formControlName="fieldType" [value]="field.get('fieldType')?.value" >
                    <option value="RANGE">Range</option>
                    <option value="TEXT">Tekst</option>
                    <option value="DATE">Datum</option>
                    <option value="TIME">Tijd</option>
                    <option value="NUMBER">Getal</option>
                    <option value="RADIO">Radio</option>
                    <option value="SELECT">Select</option>
                </select>
            </div>
       
            <div class="form-group mb-2" *ngIf="field.get('fieldText')?.value">
                <label class="label">Tekst</label>
                <input type="text" 
                formControlName="fieldText" class="form-control"[value]="field.get('fieldText')?.value" />
            </div>
        

            <div class="form-group mb-2" *ngIf="field.get('fieldInfo')?.value">
                <label class="label">Info</label>
                <textarea class="form-control" formControlName="fieldInfo" [value]="field.get('fieldInfo')?.value"></textarea>
            </div>

            <div class="form-group mb-2" *ngIf="field.get('fieldValues') && (field.get('fieldType')?.value === 'SELECT' || field.get('fieldType')?.value === 'RADIO')" >
                <p>Showing values</p>
                <!-- fieldValues is NOT a formArray, but a formGroup, even though it should definitely be an array to work properly -->

                
                     <div formArrayName="fieldValues">
                        <select formControlName="types">
                            <option class="form-group mb-2" *ngFor="let value of field.get('fieldValues')?.value; let j=index; " [formGroupName]="j" [ngValue]="value.fieldValue">
                               {{value.fieldLabel}}
                            </option>
                        </select>
                        
                        <!-- <div *ngFor="let value of field.get('fieldValues'); let i=index" [formGroupName]="i">
                        </div>  -->
                    </div>
                    <!-- </div>  -->
                    <!-- <div class="form-group mb-2" *ngIf="field.get('fieldType')?.value === 'RADIO'" (click)="getFormInfo()">
                        <label class="label">Opties</label>
                        <div class="form-group mb-2" *ngFor="let option of field.get('fieldValues')?.value; let i = index">
                            <label class="label">Waarde</label>
                            <input type="text" 
                            class="form-control" placeholder="{{option.fieldLabel}}" [value]="option.fieldLabel" />
                        </div>
                    </div> 

            </div> -->
        </div>
           <!--  <div class="form-group mb-2" *ngIf="field.fieldType === 'RADIO'" (click)="getFormInfo()">
                <label class="label">Opties</label>
                <div class="form-group mb-2" *ngFor="let option of field.fieldValues; let i = index">
                    <label class="label">Waarde</label>
                    <input type="text" 
                    class="form-control" placeholder="{{option.fieldLabel}}" [value]="option.fieldLabel" />
                </div>
            </div>
           
            <div class="form-group mb-2" *ngIf="field.fieldType === 'SELECT'" (click)="getFormInfo()">
                <label class="label">Opties</label>
                <div class="form-group mb-2" *ngFor="let option of field.fieldValues; let i = index">
                    <label class="label">Waarde</label>
                    <input type="text" 
                    class="form-control" placeholder="{{option.fieldLabel}}" [value]="option.fieldLabel" />
                </div>
            </div>

            <div class="form-group mb-2" *ngIf="field.fieldType === 'RANGE'" (click)="getFormInfo()">
                <label class="label">Min</label>
                <input type="number" 
                class="form-control" placeholder="{{field.fieldOptions.min}}" [value]="field.fieldOptions.min" min="0" max="1"/>

                <label class="label">Max</label>
                <input type="number"
                class="form-control" placeholder="{{field.fieldOptions.max}}" [value]="field.fieldOptions.max" min="1" max="100"/>

                <label class="label">Step</label>
                <input type="number" 
                class="form-control" placeholder="{{field.fieldOptions.step}}" [value]="field.fieldOptions.step" min="1" max="5"/>

                <div class="form-check pt-2">
                    <input type="checkbox"
                    class="form-control form-check-input p-1" [checked]="field.fieldOptions.icons[0].icon" [value]="field.fieldOptions.icons[0].icon" />
                    <label class="form-check-label">Gebruikt icoontjes</label>
                </div>

                <div class="form-group">
                    <label class="label">Begin- en eindwaarde</label>
                    <div class="form-group mb-2" *ngFor="let icon of field.fieldOptions.icons; let i = index">
                        <label class="label">Waarde</label>
                        <input type="text" 
                        class="form-control" placeholder="{{icon.value}}" [value]="icon.value" />
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</form>