<ion-tabs>
  <h1>Welkom in de Gaandeweg app!</h1>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="practicing">
      <ion-icon name="ellipse"></ion-icon>
      <ion-label>Practicing</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="learning">
      <ion-icon name="square"></ion-icon>
      <ion-label>Learning</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
