<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Log in</ion-title>
    </ion-toolbar>
  </ion-header>

    <ion-card class="login-form">
      <div class="alert alert-danger" *ngIf="error !== null">
        <p>{{ error }}</p>
      </div>
      <div *ngIf="isLoading" style="text-align: center;">
        <ion-spinner></ion-spinner>
      </div>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" *ngIf="!isLoading">
        <div class="form-group">
          <ion-label for="email">E-Mail</ion-label>
          <ion-input
            type="email"
            id="email"
            class="form-control"
            formControlName="email"
            autocomplete="username"
            required
            email
          ></ion-input>
        </div>
        <div class="form-group">
          <ion-label for="password">Wachtwoord</ion-label>
          <ion-input
            type="password"
            id="password"
            class="form-control"
            formControlName="password"
            autocomplete="current-password"
            required
            minlength="8"
            passwordStrength
          ></ion-input>

          <div class="field-message" *ngIf="loginForm.get('password')?.hasError('passwordStrength')">
            <p>
              Wachtwoord moet een kleine letter, een hoofdletter, een cijfer en een speciaal teken bevatten.
            </p>
          </div>

          <div class="field-message" *ngIf="loginForm.get('password')?.hasError('minlength')">
            <p>
              Wachtwoord moet minimaal 8 karakters bevatten.
            </p>
          </div>

          <div class="field-message" *ngIf="loginForm.get('password')?.hasError('required')">
            <p>
              Wachtwoord is verplicht.
            </p>
          </div>
        </div>
        <div>
          <ion-button color="primary"
            class="btn btn-primary"
            type="submit"
            [disabled]="!loginForm.valid"
          >
            {{ isLoginMode ? 'Log in' : 'Registreer' }}
          </ion-button>
          |
          <ion-button color="secondary" class="btn btn-primary" (click)="onSwitchMode()" type="button">
            {{ isLoginMode ? 'Registreer' : 'Log in' }}
          </ion-button>
        </div>
      </form>
    </ion-card>
  </ion-content>
  