<gaandeweg-ws-header pageTitle="Gaandeweg OefenApp"></gaandeweg-ws-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Welkom</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div>
        <ion-text>Dit is de client applicatie voor Gaandeweg, gemaakt door Charlotte Delvaux</ion-text>
      </div>
      <div>
        <ion-text>Deze applicatie wordt gemaakt in functie van @WORK5 in het Graduaat Programmeren aan Arteveldehogeschool - 2021-2022.</ion-text>
        <ion-img class="app-img" src="../../assets/Gaandeweg-trans-square.png"></ion-img>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
