<gaandeweg-ws-header pageTitle="Gaandeweg Oefenapp"></gaandeweg-ws-header>

<ion-content [fullscreen]="true">
  

  <ion-card>
    <!-- <ion-card-header>
      <ion-card-title>Welkom</ion-card-title>
    </ion-card-header> -->
    
    <ion-card-content>
      <div class="app-img">
        <ion-header class="app-text">
          <h2>Welkom bij de Gaandeweg oefenapp</h2>

          <ul class="feature-list">
            <li class="feature-item">
              Vul je dagboekkaart in
            </li>

            <li class="feature-item">
              Kies een oefening
            </li>

            <li class="feature-item">
              Doe de oefening
            </li>

            <li class="feature-item">
              Lees de theorie
            </li>
          </ul>
        </ion-header>
      </div>
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-card-header>
      <ion-card-title>Over Gaandeweg</ion-card-title>
      
      <ion-card-subtitle>Afstudeerproject Graduaat Programmeren - @WORK5 - Arteveldehogeschool</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-text>
        Deze applicatie(s) werd gemaakt door <a href="https://github.com/pgm-chardelv1" target="_blank" rel="noreferrer noopener" title="Bekijk pgm-chardelv1 op GitHub">Charlotte Delvaux</a> in functie van het afstudeerproject Graduaat Programmeren aan Arteveldehogeschool. <br>
        De naam Gaandeweg is gebaseerd op de naam van een therapiegroep in KARUS vzw, waardoor deze applicatie werd geïnspireerd. Alle rechten voorbehouden aan de therapiegroep en KARUS vzw. 
        <br>
        <br>
        Bron van de content in deze applicatie: 
        <strong>Vogels, C.; De Winne, M.; Fonteyne V.; Deleu, C.; Algoet, G.; Claeys I. (2019) <em>Evenwicht in borderline, borderline in evenwicht: Gents werkboek voor mensen met een emotieregulatieproblematiek volgens de dialectische gedragstherapie</em> (1st ed.). Larcier Business</strong>
        <br>
      </ion-text>
      <br>
      <ion-text>
        Deze client applicatie is ontwikkeld in Angular en Ionic. De server applicatie is ontwikkeld in NestJS. Het administratieniveau is ontwikkeld in Angular.
      </ion-text>
    </ion-card-content>

    <ion-card-content>
      <ion-card-subtitle>
        Deze applicatie werd mee mogelijk gemaakt door:
      </ion-card-subtitle>
      
      <ion-list>
        <ion-item>
          <ion-label slot="start">
            <h2>Charlotte Delvaux</h2>
          </ion-label>

          <ion-label slot="end">
            <p>Student AHS</p>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-label slot="start">
            <h2>Jens De Wulf</h2>
          </ion-label>

          <ion-label slot="end">
            <p>Mentor iO Digital</p>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-label slot="start">
            <h2>Michael Vanderpoorten</h2>
          </ion-label>

          <ion-label slot="end">
            <p>Mentor AHS</p>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-label slot="start">
            <h2>Philippe De Pauw-Waterschoot</h2>
          </ion-label>

          <ion-label slot="end">
            <p>Mentor AHS</p>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-label slot="start">
            <h2>Isabelle Volckaert</h2>
          </ion-label>

          <ion-label slot="end">
            <p>Mentor AHS</p>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-label slot="start">
            <h2>Inge Claeys</h2>
          </ion-label>

          <ion-label slot="end">
            <p>Content KARUS vzw</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
