<gaandeweg-ws-header pageTitle="Gaandeweg Oefenapp"></gaandeweg-ws-header>

<ion-content [fullscreen]="true" class="">
  <ion-title>
    Welkom bij de Gaandeweg oefenapp
  </ion-title>

  <ion-card>
    <!-- <ion-card-header>
      <ion-card-title>Welkom</ion-card-title>
    </ion-card-header> -->
    
    <ion-card-content>
      <div class="app-img">
        <ion-header class="app-text">
          <h2>Welkom bij de Gaandeweg oefenapp</h2>

          <ul class="feature-list">
            <li class="feature-item">
              Vul je dagboekkaart in
            </li>

            <li class="feature-item">
              Kies een oefening
            </li>

            <li class="feature-item">
              Doe de oefening
            </li>

            <li class="feature-item">
              Lees de theorie
            </li>
          </ul>
        </ion-header>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
