<ion-content>
    <ion-card *ngIf="exercise && exercise.name">
    <ion-card-header>
      <ion-card-title>
        {{exercise.name}}
      </ion-card-title>
      </ion-card-header>
  
      <form [formGroup]="myGroup" (ngSubmit)="onSubmit()" novalidate>
        <ion-list *ngFor="let field of exerciseForm?.fields" >
          <ion-item-group>
            <ion-item>
              <ion-label slot="start">{{field.fieldText}}</ion-label>
  
              <!-- Field input type is Range -->
              <ion-range class="form-control" slot="end" *ngIf="fieldIsRange(field)" min="{{field.fieldOptions?.min}}" max="{{field.fieldOptions?.max}}" step="{{field.fieldOptions?.step}}" snaps="true" formControlName="{{field.fieldName}}">
  
                <!-- Field uses values -->
                <ion-label *ngIf="field && field.fieldOptions && field.fieldOptions.icons && field.fieldOptions.icons[0] && field.fieldOptions.icons[0].icon === false" slot="start">{{field.fieldOptions.icons[0].value}}</ion-label>
                <ion-label *ngIf="field && field.fieldOptions && field.fieldOptions.icons && field.fieldOptions.icons[1] && field.fieldOptions.icons[1].icon === false" slot="end">{{field.fieldOptions.icons[1].value}}</ion-label>
  
                <!-- Field uses icons -->
                <ion-icon *ngIf="field && field.fieldOptions && field.fieldOptions.icons && field.fieldOptions.icons[0] && field.fieldOptions.icons[0].icon === true" slot="start" name="thumbs-down-outline"></ion-icon>
                <ion-icon *ngIf="field && field.fieldOptions && field.fieldOptions.icons && field.fieldOptions.icons[1] && field.fieldOptions.icons[1].icon === true" name="thumbs-up-outline" slot="end"></ion-icon>
  
              </ion-range>
  
              <!-- Field type is Date, Number or Time -->
              <ion-input slot="end" *ngIf="field.fieldType === 'DATE' || field.fieldType === 'TIME' || field.fieldType === 'NUMBER'" [type]="field.fieldType" [formControlName]="field.fieldName"></ion-input>

              <ion-input slot="end" *ngIf="field.fieldType === 'TIME'" type="datetime" formControlName="{{field.fieldName}}" placeholder="00:00"></ion-input>
  
              <!-- Field type is Text -->
              <ion-textarea slot="end" *ngIf="field.fieldType === 'TEXT'" formControlName="{{field.fieldName}}"></ion-textarea>
              
              <!-- Field type is Radio -->
              <ion-radio-group slot="end" *ngIf="field.fieldValues && field.fieldType === 'RADIO'" formControlName="{{field.fieldName}}">
                <ion-item *ngFor="let value of (field.fieldValues)">
                  <ion-label>{{value.fieldLabel}}</ion-label>
                  <ion-radio slot="start" value="{{value.fieldValue}}"></ion-radio>
                </ion-item>
              </ion-radio-group>
  
              <!-- Field type is Select -->
              <ion-select slot="end" *ngIf="field.fieldValues && field.fieldType === 'SELECT'" formControlName="{{field.fieldName}}" multiple="{{field.fieldRepeatable}}">
                <ion-select-option *ngFor="let value of (field.fieldValues)" value="{{value.fieldValue}}">{{value.fieldLabel}}</ion-select-option>
              </ion-select>
  
            </ion-item>
            
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validation_messages[field.fieldName]">
                <p>{{validation}}</p>
                <div class="error-message" *ngIf="myGroup.get(field.fieldName)?.hasError(validation.type) && (myGroup.get(field.fieldName)?.dirty || myGroup.get(field.fieldName)?.touched)">
                  {{ validation.message }}
                </div>
              </ng-container>
            </div>

            <ion-text *ngIf="field.fieldInfo">{{field.fieldInfo}}</ion-text>
            
          </ion-item-group>
        </ion-list>
        
        <ion-row>
          <ion-col>
              <ion-button color="secondary" type="submit" expand="block">Submit</ion-button>
          </ion-col>
        </ion-row>
      </form>
    </ion-card>
</ion-content>