<h1>Info Elements</h1>
<div *ngIf="isLoading" style="text-align: center;">
    <!-- <gaandeweg-ws-loading-spinner></gaandeweg-ws-loading-spinner> -->
    <gaandeweg-ws-loading-spinner></gaandeweg-ws-loading-spinner>
</div>
<div *ngIf="infoElements">
    <ul>
        <li *ngFor="let info of infoElements">
            <h2>{{ info.name }}</h2>
            <gaandeweg-ws-wysiwyg *ngIf="info && infoElement" [data]="infoElement.definition"></gaandeweg-ws-wysiwyg>
            <gaandeweg-ws-wysiwyg *ngIf="info && infoElement" [data]="infoElement.text"></gaandeweg-ws-wysiwyg>
        </li>
    </ul>
</div> 
