<ion-spinner *ngIf="isLoading"></ion-spinner>

  <ion-searchbar class="searchIcon" [formControl]="searchKey"  (ionChange)="search()" debounce="100" (ionCancel)="resetChanges()" placeholder="Zoek"></ion-searchbar>

  <ion-list>
    <ion-item lines="full" *ngFor="let infoElement of infoElements" color="{{isActive(infoElement.id) ? 'light' : null}}">
      <ion-label *ngIf="infoElement && infoElement.id" button (click)="setActive(infoElement.id)">
        <h2>{{infoElement.name}}</h2>
        
        <p>{{infoElement.definition}}</p>
      </ion-label>

      <ion-chip *ngIf="infoElement && infoElement.categoryId" slot="end">{{getCategoryName(infoElement.categoryId)}}</ion-chip>
    </ion-item>
  </ion-list>