<ion-content class="exercise-form">
    <ion-card *ngIf="exercise && exercise.name">
    <ion-card-header>
      <ion-card-title>
        {{exercise.name}}
      </ion-card-title>
      </ion-card-header>
  
      <form [formGroup]="myGroup" (ngSubmit)="onSubmit()" novalidate>
        <ion-list *ngFor="let field of exerciseForm?.fields" >
          <ion-item-group>
            <ion-item class="item">
              <div (click)="presentInfoPopover(field.fieldInfo)">
                <ion-label slot="start" class="item-start" (click)="presentInfoPopover(field.fieldInfo)">
                  {{field.fieldText}}
                  
                  <ion-icon *ngIf="field.fieldInfo" slot="end" name="information-circle-outline"></ion-icon>
                </ion-label>
              </div>

              <ion-button class="form-control" slot="end" class="item-end" *ngIf="fieldIsRange(field)" (click)="openPicker(field)">
                Selecteer
              </ion-button>
  
              <!-- Field type is Date, Number or Time -->
              <ion-input slot="end" class="item-end" *ngIf="field.fieldType === 'DATE' || field.fieldType === 'NUMBER'" [type]="field.fieldType" [formControlName]="field.fieldName"></ion-input>

              <ion-input slot="end" class="item-end" *ngIf="field.fieldType === 'TIME'" type="datetime" formControlName="{{field.fieldName}}" placeholder="00:00"></ion-input>
  
              <!-- Field type is Text -->
              <ion-textarea slot="end" class="item-end" *ngIf="field.fieldType === 'TEXT'" formControlName="{{field.fieldName}}"></ion-textarea>
              
              <!-- Field type is Radio -->
              <ion-radio-group slot="end" class="item-end" *ngIf="field.fieldValues && field.fieldType === 'RADIO'" formControlName="{{field.fieldName}}">
                <ion-item *ngFor="let value of (field.fieldValues)">
                  <ion-label>{{value.fieldLabel}}</ion-label>
                  <ion-radio slot="start" class="item-start" value="{{value.fieldValue}}"></ion-radio>
                </ion-item>
              </ion-radio-group>
  
              <!-- Field type is Select -->
              <ion-select slot="end" class="item-end" *ngIf="field.fieldValues && field.fieldType === 'SELECT'" formControlName="{{field.fieldName}}" multiple="{{field.fieldRepeatable}}">
                <ion-select-option *ngFor="let value of (field.fieldValues)" value="{{value.fieldValue}}">{{value.fieldLabel}}</ion-select-option>
              </ion-select>
  
            </ion-item>
            
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validation_messages[field.fieldName]">
                <p>{{validation}}</p>
                <div class="error-message" *ngIf="myGroup.get(field.fieldName)?.hasError(validation.type) && (myGroup.get(field.fieldName)?.dirty || myGroup.get(field.fieldName)?.touched)">
                  {{ validation.message }}
                </div>
              </ng-container>
            </div>

            <!-- <ion-text *ngIf="field.fieldInfo">{{field.fieldInfo}}</ion-text> -->

            
          </ion-item-group>
        </ion-list>
        
        <ion-row>
          <ion-col>
              <ion-button color="secondary" type="submit" expand="block">Submit</ion-button>
          </ion-col>
        </ion-row>
      </form>
    </ion-card>
</ion-content>