<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success mb-2" (click)="onNewCategory()" title="Nieuwe categorie">
            <fa-icon [icon]="faPlus"></fa-icon>
            Nieuwe categorie
        </button>
    </div>

    <div class="col-xs-12" *ngIf="categories">
        <ul class="list-group ps-0">
            <li class="list-group-item d-flex justify-content-between" *ngFor="let category of categories" >
                <a [routerLink]="['/category', category.id, 'edit']" routerLinkActive="bg-light" title="Categorie Bewerken">{{category.name}}</a>

                <button class="btn btn-danger btn-sm" (click)="onDeleteCategory(category.id)" title="Categorie Verwijderen">
                    <fa-icon [icon]="faTrash"></fa-icon>
                </button>
            </li>
        </ul>
    </div>
</div>