<ion-header>
  <ion-toolbar>
    <ion-thumbnail slot="start">
        <img src="../../assets/Gaandeweg-trans-square.png" alt="logo">
    </ion-thumbnail>
    
    <ion-title>{{pageTitle}}</ion-title>
    
    <ion-buttons slot="end">
        <ion-button *ngIf="isAuthenticated" (click)="onLogout()">
            <ion-text>Log Uit</ion-text>
            <ion-icon name="log-out" title="Log uit"></ion-icon>
        </ion-button>

        <ion-button *ngIf="!isAuthenticated" routerLink="/auth">
            <ion-text>Log In</ion-text>
            <ion-icon name="log-in" title="Log in"></ion-icon>
        </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>