<div *ngIf="isLoading">
    <gaandeweg-ws-loading-spinner></gaandeweg-ws-loading-spinner>
</div>

<div class="container-fluid" *ngIf="!isLoading">
    <div class="row">
        <div class="col-md-12">
            <h1>{{infoElement?.name || ''}}</h1>
        </div>
    <form [formGroup]="infoElementForm" (submit)="onSubmit()">
        <input type="hidden" *ngIf="infoElement?.id" formControlName="id" [value]="infoElement.id" />
        
        <div class="form-group mb-2">
            <label for="name">Naam</label>

            <input
                type="text"
                id="name"
                class="form-control"
                formControlName="name"
                autocomplete="true"
                required
                [value]="infoElement?.name"
            />

            <div class="invalid-feedback" *ngIf="infoElementForm.get('name')?.errors">
                Naam is verplicht
            </div>
        </div>

        <div class="form-group mb-2">
            <label class="label">Categorie</label>
            <select class="form-control" formControlName="categoryId" [value]="infoElement?.categoryId">
                <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
            </select>

            <div class="invalid-feedback" *ngIf="infoElementForm.get('categoryId')?.errors">
                Categorie is verplicht
            </div>
        </div>
        
        <div class="form-group mb-2">
            <label class="label">Definitie van het info element</label>
            <textarea class="form-control" formControlName="definition" [value]="infoElement?.definition"></textarea>

            <div class="invalid-feedback" *ngIf="infoElementForm.get('definition')?.errors">
                Definitie is verplicht
            </div>
        </div>
    
        <div class="form-group mb-2" *ngIf="infoElement">
            <label class="label">Tekstinhoud van het info element</label>

            <gaandeweg-ws-wysiwyg [data]="infoElement.text" (changes)="dataChangedHandler(dataChanged)"></gaandeweg-ws-wysiwyg>

            <div class="invalid-feedback" *ngIf="infoElementForm.get('text')?.errors">
                Tekst is verplicht
            </div>
        </div>

        <div class="form-group mb-2" *ngIf="infoElement">
            <input type="hidden" formControlName="version" [value]="infoElement?.version" />

            <div class="invalid-feedback" *ngIf="infoElementForm.get('version')?.errors">
                Versie is verplicht
            </div>
        </div>

        <div class="form-group mb-2" *ngIf="!infoElement">
            <div *ngIf="!infoElement">
                <gaandeweg-ws-loading-spinner></gaandeweg-ws-loading-spinner>
            </div>
        </div>
    
        <button type="submit" class="btn btn-primary" >
            <fa-icon [icon]="faFloppyDisk"></fa-icon>
            Opslaan
        </button>
    </form>
</div>