<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success mb-2" (click)="onNewExercise()" title="Nieuwe oefening">
            <fa-icon [icon]="faPlus"></fa-icon>
            Nieuwe oefening
        </button>
    </div>

    <div class="col-xs-12" *ngIf="exercises">
        <ul class="list-group ps-0">
            <li class="list-group-item d-flex justify-content-between" *ngFor="let exercise of exercises" >
                <a [routerLink]="['/exercise', exercise.id, 'edit']" routerLinkActive="bg-light" title="Oefening bewerken">{{exercise.name}}</a>

                <button class="btn btn-danger btn-sm" (click)="onDeleteExercise(exercise.id)" title="Oefening verwijderen">
                    <fa-icon [icon]="faTrash"></fa-icon>
                </button>
            </li>
        </ul>
    </div>
</div>