<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success" (click)="onNewExercise()">
            <i class="fa fa-plus"></i>
            Nieuwe oefening
        </button>
    </div>

    <div class="col-xs-12" *ngIf="exercises">
        <ul class="list-group ps-0">
            <li class="list-group-item" *ngFor="let exercise of exercises" >
                <a [routerLink]="['/exercise', exercise.id, 'edit']" routerLinkActive="bg-light">{{exercise.name}}</a>
            </li>
        </ul>
    </div>
</div>